<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" name="email" [(ngModel)]="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="login()" *ngIf="!loading">Enter</button>
    <button mat-button disabled *ngIf="loading">
      Loading... <mat-spinner [diameter]="25"></mat-spinner>
    </button>
  </mat-card-actions>
</mat-card>
